.App {
  text-align: center;
  
}
body{
  background-color: grey;
}
.addbutton{
 
  background-color:rgb(137, 89, 147);
  border:none;
  padding: 9px;
  border-radius: 5px;
}

input{
  padding: 4px;
  margin-right: 8px;
  font-size: 20px;
}
ul{
  list-style: none;
  
}
li{
  
  margin-left:25%;
  display: inline-block;
  width: 300px;
  height: 30px;
  justify-content:space-between;
  display: flex;
  padding:0.5rem 0.5rem 0.5rem 0.5rem;
 
}
.delete-item{
  font-size:15px; 
  border:none;
  border-radius:3px;
  background-color: transparent;
  padding-top: 4px;
  padding-bottom: 4px;

}

.list{

  background-color:rgba(245, 237, 237, 0.303);
  font-size: 100%;
}
.checkbox{
  width: 20px;
  height:20px;
}

.delete-item:hover{
  color:rgba(203, 27, 27, 0.54);
}